.talk-box {
    width: 100%;
}

.talk-box .talk-header {
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.talk-box .talk-content {
    height: 500px;
    overflow-y: auto;
    padding: 0 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.talk-box .talk-content .talk-content-more {
    text-align: center;
    font-size: 10px;
}

.talk-box .talk-footer {
    display: flex;
}

.talk-box .talk-footer input {
    line-height: 30px;
    padding-left: 5px;
    flex: 1;
}

.talk-box .talk-footer input:hover,
.talk-box .talk-footer input:focus {
    outline: #40a9ff;
}

.talk-box .talk-footer button {
    background-color: #40a9ff;
    width: 50px;
    border: none;
}

.talk-box .talk-footer button:focus {
    outline: none;
}

