.message-box {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.message-box .message-icon::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;

    margin-right: 5px;
}

.message-box .message-icon::after {
    color: #40a9ff;
    content: "\f05a";
}

/*success*/
.message-box.message-success .message-icon::after {
    color: green;
    content: "\f058";
}

/*waring*/
.message-box.message-waring .message-icon::after {
    color: rgba(200,200,0,0.6);
    content: "\f06a";
}

/*error*/
.message-box.message-error .message-icon::after {
    color: red;
    content: "\f00d";
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
}