.serch {
    padding: 5px 10px;
    position: relative;
}
/*设置input的样式*/
.serch_input {
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    padding-left: 24px;
}
.serch_input:hover {
    outline: 1px solid #40a9ff;
}
.serch_input:focus {
    outline: 1px solid #40a9ff;
}
/*设置收缩图标的样式*/
.serch_span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: rgba(0,0,0,0.4);
}
